// Colours

section {
  $primarybrand: #592e75;
  $secondarybrand: #b987d6;
  $fontcolor: #ffffff;
  $accentcolor: $fontcolor;
  $bgcolor: #f5f5f5;

  a {
    color: $accentcolor;
    text-decoration: underline;
    outline: 0;
    &:hover,
    &:focus {
      color: inherit;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  p {
    margin: 0 0 10px 0;
  }
  %boxstyle {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    width: 300px;
    height: 180px;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }

  section {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .flipbox {
    float: left;
    width: 200px;
    height: 180px;
    margin: 10px 130px;

    .front {
      @extend %boxstyle;
      transform: rotateY(0deg);
      background: $primarybrand;

      & > h2 {
        font-size: 22px;
        width: 100%;
        margin: 0 0 10px 0;
        color: $bgcolor;
      }

      & > i.fa {
        font-size: 3em;
        align-self: flex-end;
        color: $fontcolor;
      }

      & > img {
        height: 49px;
        width: auto;
        align-self: flex-end;
      }
    }

    .back.concert {
      @extend %boxstyle;
      transform: rotateY(180deg);
      background-image: url("../assets/userdb.jpeg");
      background-size: cover;

      & > a {
        align-self: center;
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .back.profile {
      @extend %boxstyle;
      transform: rotateY(180deg);
      background-image: url("../assets/userpr.jpg");
      background-size: cover;

      & > a {
        align-self: center;
        width: 100%;
        font-size: 2rem;
        font-weight: bold;
      }
    }
    &:hover .front {
      transform: rotateY(-180deg);
    }

    &:hover .back {
      transform: rotateY(0deg);
    }
  }
}

@media (min-width: 980px) and (max-width: 1300px) {
  .flipbox {
    margin: 10px 60px !important;
  }

  @media (min-width: 700px) and (max-width: 980px) {
    .flipbox {
      padding-left: 100px;
    }
  }
}
