.About {
    font-weight: bold;
    color: white;
}

.jumbotron {
    background: none;
}

.custom-btn {
  font-family: Itim;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: center;
  min-width: 100px;
  margin-top: 30px;
  color: white;
}

.btn-learn {
 background-color: none;
 color: black;
}

.btn-started {
 background-color: #592e75 !important;
}