.profile-container {
  display: flex;
  .profile-inner {
    margin: 0 auto;
  }
  .user-inner {
    width: 270px;
  }
}
@media only screen and (max-width: 700px) {
  .profile-container {
    flex-direction: column;
  }
}
